.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite*
tests
.phpunit.cache
.phpunit.result.cache
*.log
docker/certs
docker-compose.override.yml
